header {
    padding: 20px 0;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}


/* Start Upperbar */

.upperbar {
    margin-bottom: 25px;
}

.upperbar .icon-div i {
    width: 50px;
    height: 50px;
    background-color: #A5A1A1;
    border-radius: 50%;
    float: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 23px;
}

.upperbar .tele-div {
    color: white;
    font-size: 14px;
    padding-left: 7px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.upperbar .tele {
    color: white;
    font-size: 14px;
    text-decoration: none !important;
    list-style: none;
}

.upperbar .fa-phone {
    transform: rotate(90deg);
}

.upperbar .middle-div {
    display: inline;
    display: inline-flex;
    align-items: center;
}

.upperbar .fas .fa-map-marker-alt {
    margin-top: 10px;
}

@media (max-width: 575px) {
    /*extra small*/
    .upperbar .center-div {
        margin-top: 15px;
        margin-bottom: 15px
    }
}


/* End Upperbar */


/* Start Menu More */

.menu_more .navbar-nav {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu_more button {
    margin-left: 35px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 26px;
}

.menu_more a:hover {
    color: rgb(199, 202, 204);
    text-decoration: none;
}

.menu_more .navbar-light .navbar-brand:hover {
    color: #555454;
}

.menu_more .navbar-light .navbar-nav .nav-link:hover {
    color: #555454;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.menu_more ul li .nav-link:hover {
    color: #555454;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.menu_more a {
    color: white;
    text-decoration: none;
}

.menu_more .navbar {
    /*background-color: #2A93C9;
    box-shadow: 0px 0px 6px #555353;*/
    margin-bottom: 10px !important;
    padding: 0 !important;
    border-radius: 3px;
    margin-top: 30px;
}

.menu_more .navbar-light .navbar-nav .nav-link,
.menu_more .navbar-light .navbar-nav .active>.nav-link {
    color: white;
}

.menu_more .navbar-light .navbar-brand {
    color: white;
}

.menu_more .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.menu_more .nav-item a {
    padding: 10px 0px;
}

.menu_more .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    border-radius: 2px;
    background-color: rgb(40, 123, 165);
}

.menu_more {
    margin-top: 20px
}

.menu_more ul {
    box-shadow: 3px 14px 7px 0px #555353;
    background-color: #2A93C9;
    box-shadow: 1px 2px 9px #555353;
    margin-bottom: 10px !important;
    padding: 0 !important;
    border-radius: 3px;
}

.menu_more ul#horizontal,
.menu_more #horizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    display: flex;
}

.menu_more #horizontal ul {
    width: auto;
}

.menu_more #horizontal li {
    /*float: left;*/
    /*max-width: 150px;*/
    display: block;
}

.menu_more #horizontal li:hover {
    max-width: 150px;
}

.menu_more #horizontal {
    float: left;
}

.menu_more #horizontal a:visited {
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.menu_more #horizontal a:link,
.menu_more div.horizontal a:visited {
    font-weight: bold;
    background-color: #2A93C9;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.menu_more #horizontal a {
    display: block;
    line-height: 50px;
    padding: 21px 31px;
    color: #fff;
    font: normal 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #2A93C9;
}

.menu_more #horizontal a:hover {
    color: #fff;
    background-color: #82D5FF;
    display: block;
}

.menu_more .hideshow ul li a:hover {
    display: block !important;
    /* max-width: 153px !important;
    min-width: 153px !important;*/
}

.menu_more #horizontal li.hideshow ul {
    position: absolute;
    background: #2A93C9;
    display: none;
    /*left:-45px;*/
    right: 0px;
}

.menu_more #horizontal li.hideshow {
    position: relative;
}


/*end menu more*/


/*Fatma*/

html[dir='ltr'] .menu_more .nav-item #ar,
html[lang='en'] .menu_more .nav-item #ar {
    display: block !important;
}

html[dir='ltr'] .menu_more .nav-item #en,
html[lang='en'] .menu_more .nav-item #en {
    display: none !important;
}

html[dir='rtl'] .menu_more .nav-item #en,
html[lang='ar'] .menu_more .nav-item #en {
    display: block !important;
}

html[dir="rtl"] .menu_more .nav-link {
    font-size: 11px;
    font-weight: bold;
}

html[dir="rtl"] .menu_more .nav-item a {
    padding: 13px 0px;
}

@media (min-width: 1200px) {
    html[dir="rtl"] .menu_more .nav-link {
        font-size: 14px;
    }
}


/*Start Header2*/

.material_dashboard_menu .navbar .dropdown-toggle,
.material_dashboard_menu .navbar .dropdown-menu a {
    cursor: pointer;
}

.material_dashboard_menu .navbar .dropdown-item.active,
.material_dashboard_menu .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.material_dashboard_menu .navbar .dropdown-item:focus,
.material_dashboard_menu .navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    /*background-color: #f8f9fa;*/
    background-color: rgba(42, 147, 201, .1);
}

@media (min-width: 992px) {
    .material_dashboard_menu .navbar .dropdown-toggle:not(.nav-link)::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: 0;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        border-left: .3em solid;
    }
    .material_dashboard_menu .nav-item:first-child {
        padding-left: 15px
    }
    .material_dashboard_menu .nav-item:last-child {
        padding-right: 15px
    }
}


/*Added By Fatma*/

@media (max-width: 991px) {
    .material_dashboard_menu {
        background-color: transparent !important
    }
    .material_dashboard_menu .navbar {
        background: transparent !important;
        justify-content: flex-end;
    }
    .material_dashboard_menu .navbar-nav {
        flex-direction: column !important;
    }
    .material_dashboard_menu .navbar-toggler {
        width: 30px;
        padding: 0;
        border: 0;
        margin-bottom: 0;
        cursor: pointer;
        display: block !important;
    }
    .material_dashboard_menu .navbar-toggler .the_bar {
        width: 100%;
        height: 4px;
        display: block;
        background-color: #fff;
        margin: 0 0 5px;
        transition: .5s
    }
    /* .material_dashboard_menu {
        background-color: #343a40!important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
     }*/
    .material_dashboard_menu .transformed .the_bar:first-child {
        transform: rotate(-45deg) translate(-12px, 6px);
    }
    .material_dashboard_menu .transformed .the_bar:nth-child(2) {
        opacity: 0;
    }
    .material_dashboard_menu .transformed .the_bar:last-child {
        transform: rotate(45deg) translate(-6px, 0px);
    }
    .material_dashboard_menu .sidebar {
        position: fixed;
        width: 0;
        /*width: 50%;*/
        height: 100%;
        top: 0;
        right: 0;
        /*background-color: #2A93C9;*/
        /*padding: 25px;*/
        text-align: right;
        overflow: hidden;
        box-shadow: 1px 2px 9px #555353;
    }
    .material_dashboard_menu .sidebar a {
        color: #2A93C9;
    }
    .material_dashboard_menu .sidebar>ul.navbar-nav {
        background-color: #FFF;
        overflow: hidden;
    }
    .material_dashboard_menu .navbar-dark .navbar-nav .nav-link {
        color: #2A93C9;
        font-weight: 400;
    }
    .material_dashboard_menu .collapse:not(.show) {
        display: block !important;
    }
    .material_dashboard_menu .navbar-nav .dropdown-menu {
        position: static !important;
        text-align: right
    }
}

@media (max-width: 575px) {
    .material_dashboard_menu .navbar {
        padding: 10px 0 !important;
    }
}

.material_dashboard_menu .sidebar>ul.navbar-nav {
    text-align: right;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    background-color: #2A93C9;
    height: 100%;
    box-shadow: 1px 2px 9px #555353;
    margin-bottom: 10px !important;
    padding: 0 !important;
    /*overflow: hidden;*/
}

@media (min-width: 992px) {
    .material_dashboard_menu .sidebar>ul.navbar-nav {
        display: flex;
        justify-content: space-between;
    }
}

.material_dashboard_menu .sidebar a {
    padding: 15px 0;
    color: #FFF;
    font: normal 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    /*background: #2A93C9;*/
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

@media (max-width: 991px) {
    .material_dashboard_menu .sidebar a {
        padding-right: 25px !important;
        padding-left: 25px !important;
    }
}

.material_dashboard_menu .sidebar .dropdown-menu {
    margin: 0;
    padding: 0
}

.material_dashboard_menu .sidebar .dropdown-item {
    padding: 5px
}

.material_dashboard_menu .sidebar .dropdown-item a {
    padding: 10px 0;
    color: #2A93C9 !important;
}

.material_dashboard_menu .bg-dark {
    background-color: #2A93C9 !important;
}

.material_dashboard_menu .navbar-dark .navbar-nav .nav-link {
    color: #FFF;
    font-weight: 400;
}

.dropdown-menu.show {
    display: block
}


/*End Header2*/


/*Start Media Query*/

@media (max-width: 575px) {
    .material_dashboard_menu .sidebar {
        box-shadow: none;
    }
}


/*End Media Query*/