<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- All Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="It-Blocks - Responsive HTML5 Template">
    <meta name="author" content="It-Blocks">

    <!-- Lato English Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900&display=swap">

    <!-- Lato English Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900&display=swap">

    <!-- The Main Stylesheet -->
    <link rel="stylesheet" href="../assets/css/main_style.css" />

    <!-- How to Page Stylesheet -->
    <link rel="stylesheet" href="../assets/css/pages_styles/how_to.css" />

    <!-- component Page Stylesheet -->
    <link rel="stylesheet" href="../assets/css/pages_styles/pages_content.css" />


    <!-- component Page Stylesheet -->
    <link rel="stylesheet" href="../assets/css/components.css" />



</head>

<body>
    <!-- Start Common Header -->
    <div id="header">
        <!-- the header is rander here -->
    </div>
    <!-- End Common Header -->

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main" class="container-fluid pl-0 pr-0 maindiv">

        <!-- Start Content Page -->
        <div id="content" class="page_content how_to " style=" position: relative; overflow: hidden;">

            <div id="mySidenav" class="sidenav fixed-side">
                <a href="javascript:void(0)" class="closebtn d-none" onclick="closeNav()">&times;</a>
                <ul id="myMenu">
                    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search .." title="Type in a category">
                    <li><a href="cards.html">Cards</a></li>
                    <li><a href="more_list.html" class="selected">Upper Par (More)</a></li>
                    <li><a href="copy_to_clipbourd.html">Copy To Clipbourd</a></li>
                    <li><a href="fixed_side_nav.html">Fixed Side Nav</a></li>
                    <li><a href="search_filter.html">Search Filter</a></li>
                    <li><a href="boxes.html">Boxes</a>
                        <!--header phone icon ,advantages  -->
                    </li>
                    <li><a href="side_nav.html">Side Nav</a>
                        <!--team, appointments ,services ,blog -->
                    </li>
                    <li><a href="paragraph_on_image.html">Paragraph On Image</a></li>
                    <li><a href="button_on_image.html">Button On Image</a></li>
                    <li><a href="iframe.html">IFrame</a></li>
                    <li><a href="swiper.html">Swiper</a></li>
                </ul>
            </div>

            <div class="intro-div">
                <div class="left-div-right">
                    <div class="documentation_intro">
                        <div style="text-align: left;
                        padding-bottom: 25px;
                        margin: auto;
                        width: 90%;">
                            <h2>Upper Par (More List)</h2><span class="d-none" onclick="openNav()"><button type="button"
                  class="btn btn-component text-uppercase button-component">Choose Your
                  Component</button></span>
                            <!--header 1-->
                            <hr>

                        </div>

                        <div class="words">

                            <div class="ex-div">
                                <h3>Shots</h3>
                            </div>

                            <!--Start Menu More-->

                            <div class="content-example">

                                <img class="icons-pars" src="../assets/images/components/menu-more.PNG" style="width: 100%;">
                            </div>
                            <!--End Menu More-->
                        </div>

                        <div class="code">

                            <div>
                                <div class="tablink html text-uppercase" onclick="openPage('html', this)" id="defaultClose">html
                                </div>
                                <div id="html" class="tabcontent">

                                    <!-- The text field -->
                                    <div class="copy_container">
                                        <textarea class="copyText" disabled>
                      &lt;!--Start Menu More--&gt;
                          &lt;div class=&quot;menu_more&quot;&gt;
                              &lt;div class=&quot;container&quot;&gt;
                                  &lt;ul id=&quot;horizontal&quot;&gt;
                                      &lt;li&gt;&lt;a href=&quot;../index.html&quot; style=&quot;border-bottom-left-radius: 5px; border-top-left-radius: 5px;&quot;&gt;Home &lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;&lt;a href=&quot;../how_to.html&quot;&gt;How To&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;About Us&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contacts&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt; &lt;a href=&quot;#&quot;&gt;Departments&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Gallery&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Services&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Blog&lt;/a&gt;&lt;/li&gt;
                                      &lt;!-- &lt;li&gt;&lt;a href=&quot;#&quot;&gt; &amp;nbsp  ع&lt;/a&gt;&lt;/li&gt;--&gt;
                                  &lt;/ul&gt;
                              &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!--End Menu More--&gt;
                                                        </textarea>
                                        <button class="copy_btn" data-toggle="tooltip" data-placement="bottom" title="Copy"><i
                        class="fas fa-copy"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="tablink css text-uppercase" onclick="openPage('css', this)" id="defaultClose">css
                                </div>
                                <div id="css" class="tabcontent">
                                    <!-- The text field -->
                                    <div class="copy_container">
                                        <textarea class="copyText" disabled>
                      .menu_more .navbar-nav {
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                    }
                    
                    .menu_more button {
                        margin-left: 35px;
                        background-color: transparent;
                        color: white;
                        border: none;
                        font-size: 26px;
                    }
                    
                    .menu_more a:hover {
                        color: rgb(199, 202, 204);
                        text-decoration: none;
                    }
                    
                    .menu_more .navbar-light .navbar-brand:hover {
                        color: #555454;
                    }
                    
                    .menu_more .navbar-light .navbar-nav .nav-link:hover {
                        color: #555454;
                        width: 100%;
                        height: 100%;
                        border-radius: 2px;
                    }
                    
                    .menu_more ul li .nav-link:hover {
                        color: #555454;
                        width: 100%;
                        height: 100%;
                        border-radius: 2px;
                    }
                    
                    .menu_more a {
                        color: white;
                        text-decoration: none;
                    }
                    
                    .menu_more .navbar {
                        /*background-color: #2A93C9;
                        box-shadow: 0px 0px 6px #555353;*/
                        margin-bottom: 10px !important;
                        padding: 0 !important;
                        border-radius: 3px;
                        margin-top: 30px;
                    }
                    
                    .menu_more .navbar-light .navbar-nav .nav-link,
                    .menu_more .navbar-light .navbar-nav .active>.nav-link {
                        color: white;
                    }
                    
                    .menu_more .navbar-light .navbar-brand {
                        color: white;
                    }
                    
                    .menu_more .navbar-expand-lg .navbar-nav .nav-link {
                        padding-right: 20px;
                        padding-left: 20px;
                    }
                    
                    .menu_more .nav-item a {
                        padding: 10px 0px;
                    }
                    
                    .menu_more .navbar-light .navbar-nav .nav-link:hover {
                        color: #fff;
                        border-radius: 2px;
                        background-color: rgb(40, 123, 165);
                    }
                    
                    .menu_more {
                        margin-top: 20px
                    }
                    
                    .menu_more ul {
                        box-shadow: 3px 14px 7px 0px #555353;
                        background-color: #2A93C9;
                        box-shadow: 1px 2px 9px #555353;
                        margin-bottom: 10px !important;
                        padding: 0 !important;
                        border-radius: 3px;
                    }
                    
                    .menu_more ul#horizontal,
                    .menu_more #horizontal ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom-left-radius: 7px;
                        border-top-left-radius: 7px;
                        border-bottom-right-radius: 7px;
                        border-top-right-radius: 7px;
                        width: 100%;
                        display: flex;
                    }
                    
                    .menu_more #horizontal ul {
                        width: auto;
                    }
                    
                    .menu_more #horizontal li {
                        /*float: left;*/
                        /*max-width: 150px;*/
                        display: block;
                    }
                    
                    .menu_more #horizontal li:hover {
                        max-width: 150px;
                    }
                    
                    .menu_more #horizontal {
                        float: left;
                    }
                    
                    .menu_more #horizontal a:visited {
                        font-weight: bold;
                        text-align: left;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                    
                    .menu_more #horizontal a:link,
                    .menu_more div.horizontal a:visited {
                        font-weight: bold;
                        background-color: #2A93C9;
                        text-align: left;
                        text-decoration: none;
                        text-transform: uppercase;
                        display: block;
                    }
                    
                    .menu_more #horizontal a {
                        display: block;
                        line-height: 50px;
                        padding: 21px 31px;
                        color: #fff;
                        font: normal 12px Helvetica, Arial, sans-serif;
                        text-decoration: none;
                        -webkit-transition: border-color .218s;
                        -moz-transition: border .218s;
                        -o-transition: border-color .218s;
                        transition: border-color .218s;
                        background: #2A93C9;
                    }
                    
                    .menu_more #horizontal a:hover {
                        color: #fff;
                        background-color: #82D5FF;
                        display: block;
                    }
                    
                    .menu_more .hideshow ul li a:hover {
                        display: block !important;
                        /* max-width: 153px !important;
                        min-width: 153px !important;*/
                    }
                    
                    .menu_more #horizontal li.hideshow ul {
                        position: absolute;
                        background: #2A93C9;
                        display: none;
                        /*left:-45px;*/
                        right: 0px;
                    }
                    
                    .menu_more #horizontal li.hideshow {
                        position: relative;
                    }
                    
                                                        </textarea>
                                        <button class="copy_btn" data-toggle="tooltip" data-placement="bottom" title="Copy"><i
                        class="fas fa-copy"></i></button>

                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="tablink js text-uppercase" onclick="openPage('js', this)" id="defaultClose">js
                                </div>
                                <div id="js" class="tabcontent">
                                    <!-- The text field -->
                                    <div class="copy_container">
                                        <textarea class="copyText" disabled>
                                                <script>
                                                  $(function () {
                                                    alignMenu();

                                                    $(window).resize(function () {
                                                      $("#horizontal").append($("#horizontal li.hideshow ul").html());
                                                      $("#horizontal li.hideshow").remove();
                                                      alignMenu();
                                                    });

                                                    function alignMenu() {
                                                      var w = 0;
                                                      var mw = $("#horizontal").width() - 150;
                                                      var i = -1;
                                                      var menuhtml = '';
                                                      jQuery.each($("#horizontal").children(), function () {
                                                        i++;
                                                        w += $(this).outerWidth(true);
                                                        if (mw < w) {
                                                          menuhtml += $('<div>').append($(this).clone()).html();
                                                          $(this).remove();
                                                        }
                                                      });
                                                      $("#horizontal").append(
                                                        '<li  style="position:relative;" href="#" class="hideshow">'
                                                        + '<a href="#" style="border-bottom-right-radius: 7px;border-top-right-radius: 7px;" >more '
                                                        + '<span style="font-size:12px">&#8595;</span>'
                                                        + '</a><ul>' + menuhtml + '</ul></li>');
                                                      $("#horizontal li.hideshow ul").css("top",
                                                        $("#horizontal li.hideshow").outerHeight(true) + "px");
                                                      $("#horizontal li.hideshow").click(function () {
                                                        $(this).children("ul").toggle();
                                                      });
                                                    }
                                                  });
                                                </script>
                                                                        </textarea>
                                        <button class="copy_btn" data-toggle="tooltip" data-placement="bottom" title="Copy"><i
                        class="fas fa-copy"></i></button>
                                    </div>

                                </div>
                            </div>


                        </div>


                    </div>

                </div>

                <!-- End Content Page -->
            </div>
            <!-- End Content Page -->
        </div>
    </div>
    <!-- Start Common Footer -->
    <div id="footer">
        <!-- The footer is rander here -->
    </div>
    <!-- End Common Footer -->

    <!-- All Used Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.includeHTML.min.js"></script>
    <script src="../assets/js/swiper.min.js"></script>
    <script src="../assets/js/translation.js"></script>
    <script src="../assets/js/ui_effects.js"></script>
    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
        function openNav() {
            document.getElementById("mySidenav").style.width = "200px";

            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";

            document.body.style.backgroundColor = "white";
        }
    </script>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i;
            input = document.getElementById("mySearch");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myMenu");
            li = ul.getElementsByTagName("li");

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
    <script>
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultClose").click();
    </script>



    <script>
        $(document).ready(function() {
            var copy_btn = $('.copy_btn');

            copy_btn.on('click', function() {
                var copyText = $(this).prev('.copyText'),
                    movedText = $(this).next('.moved');

                copyText.removeAttr('disabled');
                copyText.select();
                document.execCommand("copy");
                copyText.attr('disabled', 'disabled');
                movedText.text(copyText.val());
            });

        });
    </script>


    <!--start Menu More script-->
    <script>
        $(function() {
            alignMenu();

            $(window).resize(function() {
                $("#horizontal").append($("#horizontal li.hideshow ul").html());
                $("#horizontal li.hideshow").remove();
                alignMenu();
            });

            function alignMenu() {
                var w = 0;
                var mw = $("#horizontal").width() - 150;
                var i = -1;
                var menuhtml = '';
                jQuery.each($("#horizontal").children(), function() {
                    i++;
                    w += $(this).outerWidth(true);
                    if (mw < w) {
                        menuhtml += $('<div>').append($(this).clone()).html();
                        $(this).remove();
                    }
                });
                $("#horizontal").append(
                    '<li  style="position:relative;" href="#" class="hideshow">' +
                    '<a href="#" style="border-bottom-right-radius: 7px;border-top-right-radius: 7px;" >more ' +
                    '<span style="font-size:12px">&#8595;</span>' +
                    '</a><ul>' + menuhtml + '</ul></li>');
                $("#horizontal li.hideshow ul").css("top",
                    $("#horizontal li.hideshow").outerHeight(true) + "px");
                $("#horizontal li.hideshow").click(function() {
                    $(this).children("ul").toggle();
                });
            }
        });
    </script>
    <!--end Menu More script-->

</body>

</html>